<app-navbar *ngIf="showNavbar"></app-navbar>

<router-outlet></router-outlet>


<!-- <app-navbar></app-navbar>

<nav class="navbar" *ngIf="!isPagesRoute()">
  <div class="nav-left">
    <a class="brand" routerLink="/">🛍️ SS eCart</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </div>

  <div class="nav-right">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/signup" routerLinkActive="active">Register</a>
  </div>
</nav>

<router-outlet></router-outlet> -->
